.work-tab {
    padding: 12px 50px 9px;
    .item {
        flex: 1;
        span {
            font-family: PingFangSC-Semibold;
            font-size: 16px;
            color: #939eaf;
            text-align: center;
            line-height: 16px;
            position: relative;
            z-index: 0;
        }
        &.active span {
            color: #333;
            &::after {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                width: 32px;
                height: 10px;
                background-image:
                    linear-gradient(
                        225deg,
                        #fc5 0%,
                        #ffad95 34%,
                        #fc92ff 62%,
                        #7ceaff 100%
                    );
                border-radius: 5px;
                // opacity: 0.6;
                z-index: -1;
            }
        }
    }
}